@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

input {
  @apply w-full border border-black py-2 px-4 mt-2 bg-zinc-100/40;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  @apply outline-none border border-yellow-500;
}

input:hover {
  @apply border border-yellow-500 
}

button {
  @apply flex flex-row justify-center font-bold w-full 
  border-[1.5px] border-black
  bg-primaryYellow py-2
  transition duration-300 relative
  z-10;
}

button:hover {
  @apply -translate-x-1 -translate-y-1;
}



h1 {
  @apply text-white;
  -webkit-text-stroke: 0.5px black;
}
